/*Start upper bar*/

html {
	height:100%;
}
body {
	background-size:cover;
	height:100%;
}

.upper-bar {
	background-color:#08526d;
	color:#FFF;
}

.upper-bar .info {
	margin:15px 0;
}

.upper-bar .info .fa {
	margin: 0 1px 0 17px;
}

@media (max-width: 576px) {
	.upper-bar .info:first-child {
		margin-bottom:0;
	}
}

.upper-bar .fa-envelope-o {
	cursor: pointer;
}

.upper-bar .get-quote {
	border: 1px solid #ec1c23;
	padding: 2px 10px;
	margin-left: 20px;
	display:inline-block;
	cursor: pointer;
}
@media (max-width: 576px) {
	.upper-bar .get-quote {
		border:none;
		margin-left:5px;
	}
}

/* Start Navbar */

.navbar-brand span {
	font-size:26px;
	font-weight:500;
}

.navbar-brand span:first-child {
	color:#08526d;
	font-weight:bold;	
}

.navbar-brand span:last-child {
	color:#ec1c23;
}

.navbar-nav {
	padding-left:450px;
	font-size:17px;
	text-transform:uppercase;
	color:#08526d;
	font-weight:700;
}
.navbar-nav li {
	margin-left:20px;
	margin:right;
}
.navbar-light .navbar-nav .nav-link.active {
	color:#ec1c23;
}

/* Start Slider */

.slider .carousel-inner {
	display:flex;
	align-items: center;
	justify-content: left;
}

@media (max-width:768px) {
	.slider .carousel-inner {
		justify-content: center;
	}
}

.slider .carousel-inner h1 {
	position:absolute;
	z-index:3;
	margin-top:40px;
	font-size:70px;
	color:#FFF;
	max-width: 900px;
	left:80px;
	line-height:1.5;
}

@media (max-width:768px) {
	.slider .carousel-inner h1 {
		font-size:40px;
		max-width:100%;
		left:auto;
		text-align:center;
	}
}

.slider .carousel-inner h1 span {
	background-color:#ec1c23;
	color:#FFF;
	padding:2px 5px;
	display: inline-block;
}

.slider .carousel-inner .overlay {
	position: absolute;
	width:100%;
	min-height:100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 2;
}

.slider .carousel-item {
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.slider .carousel-one {
	background-image: url('../images/fur.jpg')
}

.slider .carousel-two {
	background-image:url('../images/office.jpg')
}

.slider .carousel-three {
	background-image:url('../images/Home-Office.jpg')
}

.carousel-indicators li {
	height:7px;
}

/* Start Features */

.features {
	padding:50px 0 35px;
}

.features i {
	background-color:#ec1c23;
	color:#FFF;
	padding:12px;
	margin-bottom: 10px;
}

.features h3 {
	font-size:24px;
	color:#08526d;
}

.features p {
	color:#989898;
	margin-bottom: 20px;
	line-height:1.8;
}

/* Start Overview */

.overview {
	padding:30px 0;
	background-color:
}

.overview h2 {
	font-size:60px;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:30px
}

@media (max-width: 992px) {
	.overview h2 {
		font-size:30px;
		margin-bottom:15px;
	}
}

.overview p {
	line-height:2;
	font-size:20px;
	width:80%;
	margin: 0 auto 15px;
	color:#6a6a6a;
}

@media (max-width:992px) {
	.overview p {
		width:100%;	
	}
}

.overview h4 {
	letter-spacing: 2px;
	font-weight:normal;
	color: #8a8a8a;
	margin-bottom:40px;	
}

.overview button {
	background-color: #ed1d24;
	color:#FFF;
	padding:10px 30px;
	font-size:20px;
	font-weight:bold;
	border: 1px solid #ed1d24;
}

/* Start Featured Work */

.featured-work {
	padding:50px 0;
}
.featured-work h2 {
	font-size:50px ;
	font-weight:bold;
	margin-bottom:20px;		
}

.featured-work p {
	line-height:1.6;
	font-size:20px;
	width:80%;
	margin: 0 auto 15px;
	color:#6a6a6a;
}

.featured-work ul {
	margin-top:40px;
	margin-bottom:30px;
}

.featured-work ul li {
	color:#08526d;
	border: 2px solid #08526d;
	padding:5px 0 !important;
	margin-left:10px;
	font-weight: 500;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-mozz-transition: all .3s ease-in-out;
}
.featured-work ul li.active,
.featured-work ul li:hover {
	background-color:#ed1d24;
	color:#FFF;
	border:2px solid #ed1d24;
}

.featured-work ul li:hover {
	cursor: pointer;
}

/* Start Featured Work Section */

.featured-work .shuffle-imgs {
	margin-top:42px;
}

.featured-work .shuffle-imgs .row {
	margin:0;
}

.featured-work .shuffle-imgs .row .col-md {
	padding:0;
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
}

.featured-work .row img {
	width:100%;
}

/* Start Latest Posts */

.latest-posts {
	padding:0 0 50px;
}

.latest-posts h2 {
	font-size:50px ;
	font-weight:bold;
	margin-bottom:20px;		
}

.latest-posts .paragraph  {
	line-height:1.8;
	font-size:20px;
	width:80%;
	margin: 0 auto 45px;
	color:#6a6a6a;
}

.latest-posts .card {
	margin-bottom:30px;
}

.latest-posts .card .card-title {
	font-size: 20px;
	line-height:1.5;
	color:#08526d;
	margin-bottom: 10px;
}

.latest-posts .card .card-text {
	color:#787878;
	margin-bottom:5px;
}

.latest-posts .card .card-link {
	font-weight:bold;
	color:#ed1d24;
}

/* Start Pricing Table */

.pricing-table {
	padding:50px 0 3 0px;
	background-color:#f7f7f7;
}

.pricing-table h2 {
	font-size:50px ;
	font-weight:bold;
	margin-bottom:20px;		
}

.pricing-table .section-description {
	line-height:1.6;
	font-size:20px;
	width:80%;
	margin: 0 auto 75px;
	color:#6a6a6a;
}

@media(max-width:992px) {
	.pricing-table .section-description {
		margin-bottom:40px;
	}
}

.pricing-table .card {
	margin-bottom:30px;
}

.pricing-table .card .card-title {
	font-size: 25px;
	line-height:1.5;
	color:#08526d;
}

.pricing-table .card-body {
	padding: 0;
} 

.pricing-table .card-subtitle {
    font-size: 13px;
}

.pricing-table .card .card-text {
	color:#08526d;
	margin: 13px 0 7px 0;
    font-size: 25px;
	font-weight: 700;
	font-style:italic;
}

.pricing-table .card .card-text:hover {
	color:#f7f7f7;
	background-color: red;
}

.pricing-table .card .card-text span {
	font-size:15px;
}

.pricing-table .card .card-link {
	font-weight:normal;
	background-color:#ed1d24;
	padding: 8px 16px;
    margin-top: 5px;
    margin-bottom: 10px;
	color:white;
	margin-bottom; 20px;
	display:inline-block;
}

.pricing-table .card.corporate {
	position:relative;
	top:-20px;
}

@media(max-width:995px) {
	.pricing-table .card.corporate {
		top:0;
	}
}

.pricing-table .card.corporate .card-text {
	background-color: #ed1d24;
	color:#FFF;
}

@media (max-width: 576px) {
	.pricing-table .card.corporate {
		position:relative;
		top:0;
	}
}

.pricing-table .card.corporate .card-link {
	background-color:#08526d;
}

/* Start Footer */

.footer {
	padding 50px 0;
}

.footer .row {
	margin-bottom: 10px;
}

.footer .site-info h2 {
	font-size:50px;
	margin-bottom:35px;
}

.footer .site-info span:first-child {
	color:#08526d;
	font-weight:bold;	
}

.footer .site-info span:last-child {color:#ec1c23;}
.footer .site-info p {
	line-height:1.8;
	color:#727272;
}

.footer .site-info a {
	color:#08526d;
}

.footer .site-info a:before {
	font-family:'fontAwesome';
	margin-right:5px;
	font-size:15px;
	font-weight:bold;
	content:'\f138';
	display:inline-block;
}

.footer .helpful-links h2,
.footer .contact h2 {
	font-size:22px;
	color:#08526d;
	margin-top: 32px;
    margin-bottom: 37px;
}

.footer .helpful-links ul li:before {
	font-family:'FontAwesome';
	content:'\f054';
	margin-right:8px;
	font-size: 14px;
    position: relative;
    top: -1px;
	color:#08526d;
}

.footer .contact ul li {
	margin-bottom: 24px;
}

/* Start Copyright Section */

.copyright {
	border-top: 1px solid #DDD;
	padding:25px;
}

.copyright ul {
	margin:0;
}

.copyright ul li {
	display:inline-block;
}

.copyright ul li a {
	margin-left:20px;
	font-size:18px;
	color:#08526d;
}

@media (max-width:768px) {
	.footer .helpful-links h2,
	.footer .contact h2 {
		margin:20px 0;
	}
}
.footer .contact ul li {
	margin-bottom:5px;
}

@media (max-width:576px) {	
.copyright .list-unstyled {
		margin-top:10px;
	}
}